[user]
	name = Haruyuki Ichino
	email = haruyuki.ichino@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff "openxml"]
  textconv = ~/bin/unopenxml
[merge]
	conflictStyle = diff3
